@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Archivo", sans-serif;
}

/*--------------------------------------------------------- colors */
.bg-color-name-title {
    background-color: #0b1829;
}

.ui-menu-color-home {
    background-color: rgb(77 128 165);
}

.ui-menu-color-resume {
    background-color: #c54d63;
}

.ui-menu-color-contact {
    background-color: #614a77;
}

.ui-menu-color-download {
    background-color: rgb(221 216 58);
}

/*--------------------------------------------------------- heading */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/bebefacesmile.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-weight: 100;
    font-size: 50px;
    margin-top: 50px;
    color: rgb(88, 155, 199);
}

.title {
    font-weight: 400;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #557fbd;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
}